// colors
$black: #222;
$white: whitesmoke;
$gray: #ccc;
$h1: #444;
$h2: gray;

// body
body {
    font-family: 'Roboto', sans-serif;
    background-color: $white;
    color: $black;
}
// App
.AppContainerWrapper {
    margin-left: 200px;
}
.AppContainer {
    width: 70%;
    margin: 0 auto;
    padding: 40px 0px;
}
// Home
.Home {
    width: 100%;
}
.HomeMain {
    width: 100%;

    h1 {
        font-size: 3rem;
        font-weight: 900;
        padding: 5px;
        margin-top: 20px;
        color: $h1;
    }
    h2 {
        font-size: 2.0rem;
        font-weight: 900;
        margin: 20px;
        color: $h2;
    }
    p {
        padding: 5px;
        margin: 10px 20px;
        font-size: 1.3rem;
        line-height: 1.5rem;
    }
}
// Navbar
.Nav {
    position: fixed;

    nav {
        height: 100vh;
        width: 200px;
        background-color: $black;

        img {
            display: block;
            margin: 0 auto;
        }

        ul {
            display: flex;
            align-items: center;
            flex-direction: column;

            li {
                color: $white;
                font-size: 2rem;
                margin: 10px;
                cursor: pointer;

                transition: all 0.1s;

                i {
                    padding: 10px;
                }
            }
            li:hover {
                color: $gray;
            }
        }
    }
}
// chart
.Charts {
    width: 100%;
}
.ChartsWrapper {
    width: 100%;

    h1 {
        font-size: 2.5rem;
        margin: 20px;
        color: $h1;
    }
}
// page titles 
.PageTitles {
    font-size: 1.2rem;
    color: $gray;
    position: fixed;
    top: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    text-align: right;
}